/* galeria */

.galeria-intro {
  @include intro-banner;
  background-image: url('../assets/imges/galeria-intro.jpg');
  animation: $animation-title;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  padding: 30px 13% 30px 13%;
  gap: 10px;
  background-color: $color-container;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition:0.5s;

    &:hover {
      width: 100%;
      height: 325px;
      opacity: 0.8;
  
      object-fit:cover;
    }
  }
}