/* servicios */

.servicios-intro {
  @include intro-banner;
  background-image: url('../assets/imges/servicios-intro.jpg');
  animation: $animation-title;
}

.servicios {
  background-color: $color-container;
  color: rgba(0, 0, 0, 0.685);
  gap: 50px;
  padding: 30px 10% 30px 10%;
  place-items: center;
  word-wrap: break-word;
}

.servicios-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
  font-size: 20px;
  transition: 0.2s;
  padding: 10px 0 10px 0;

  &:hover {
    color: black;
  }

a {
  color: $color-container;
  text-decoration: none;
  transition: 0.2s;
  padding-bottom: 10px;
}
  &:hover a {
    color: black;
  }

  h2 {
    padding-bottom: 10px;
    border-bottom: 1px solid black;
  }

  p {
    margin-bottom: 5px;
  }

}