/* footer */

footer {
    background-color: rgb(51, 50, 51);
    height: 100%;
    word-wrap: break-word;
    text-align: center;
}

.footer-list {
    list-style: none;    
    color: white;
    font-size: 20px;

}
