/* TOP navbar */

.nav-top {
  background-color: rgb(255, 255, 255);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  a {
    text-decoration: none;
  }

  p {
    color: black;
    background: linear-gradient(black, black);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 10%;
    transition: background-size 1s;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;

    &:hover {
      background-size: 100% 10%;
    }
  }
}

.nav-top-list {
  flex-direction: row;
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin: 10px;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

.nav-top-link {
  text-decoration: none;
  color: #111;
  font-size: 20x;
  font-weight: bold;
}

/* navbar */

nav {
  background-color: rgb(223, 217, 217);
  display: flex;
  flex-direction: column;
}

.nav-item {
  color: black;
}

.nav-link {
  color: black;
}

.nav-underline {
  gap: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}